@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* This will show the `style-type: disc` for our editor */
  ul,
  ol {
    list-style: revert;
  }
}

input:checked + .mantine-1thtv9i {
  background: #344e41 !important;
  border-color: #dad7cd !important;
}

.mantine-Input-input {
  color: #dad7cd !important;
}

.mantine-Input-input:focus {
  border-color: #344e41 !important;
}

.mantine-Select-item:hover {
  background: #344e41 !important;
  color: #dad7cd !important;
}
